%div#main
  %h1 Is it EC2?
  %div.hero-unit.top_box
    %form.form-search.lookup{action: ''}
      %label IP or Hostname
      %input{type: 'text', id: 'ip', class: 'search-query'}
      %button{type: 'submit', class: 'btn-primary'}
        %i.icon-search
        Lookup
    %h3 Examples: <a href="/heroku.com">heroku.com</a>, <a href="/github.com">github.com</a>, <a href="/urbandictionary.com">urbandictionary.com</a>
