.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand{:href => '/'} Is it EC2?
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '/'}Home
          %li
            %a{:href => 'http://github.com/cldwalker/is_it_ec2'} Source Code
